<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   <link rel="stylesheet" href="/telegram.css">
    </head>
  <body>
    <h1>HODLINFO</h1>
    <div class="container">
      <div class="connect-telegram">
        Connect
        <img src="/images/download.png" alt="" width="35rem" height="35rem" />
         Telegram
      </div>
      <h3>Add bot to your group</h3>

      <h2>Manual:</h2>
      <div class="para1">
        1. Open the telegram app. <br />
        2. Open the group you want to add the bot to. <br />
        3. Click on add members in group settings. <br />
        4. Search @HodlinfoBot and click it.
      </div>

      <h2>Automatic:</h2>
      <div class="link">
        Go to:
        <a href="https://t.me/HodlInfoBot?startgroup=true"
          >https://t.me/HodIInfoBot?startgroup=true</a
        >
      </div>

      <h3>Chat with the bot</h3>
      <h2>Manual:</h2>

      <div class="para2">
        1.Open the telegram app. <br />
        2.Click the message button. <br />
        3. In search bar type HodllnfoBot. 4. Click on @HodllinfoBot.
      </div>

      <h2>Automatic:</h2>
      <div class="link">
        <a href="https://t.me/HodlInfoBot">Go to: http://t.me/HodllnfoBot</a>
      </div>
    </div>


    <hr>
    <div class="footer">
      <div class="copyright">
       Copyright 2019  <a href="">HodIInfo.com</a>
      </div>

      <div class="support">
          Support
      </div>
    </div>

    </div>

    <div class="footer-section">
      Add hodlinfo to home screen
    </div>

  </body>
</html>
